# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.g.dart

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/captures/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
android/app/google-services.json

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
**/GoogleService-Info.plist

# macOS / Windows / Linux runners generados por flutter create
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Varios
*.log
.DS_Store
